@import url(https://fonts.googleapis.com/css?family=Bangers);

$background: #86B3D1;

body {
  background: $background;
  height: 100vh;
  overflow: auto;
}

.hero {
  height: 100vh;
  background: $background;
}

html{
  height: 100vh;
  background-color: #86B3D1;
}
nav.navbar.is-dark{
  background-color: #474853;
}

a.button.button.is-dark{
  background-color: #474853;
}

a.button.button.is-dark:hover{
  background-color: #363742;
}

img{
  max-width: 30vw;
}

hr{
  background: black;
}

p{
  color: black;
}

.hero {
  background: #86B3D1;
  font-family: 'Bangers', cursive;
  font-size: 100px;

  p {
    font-size: 35px
  }
}

nav.navbar.is-dark{
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}

.card {
    border: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

  .image img {
    border-radius: 8px;
  }
}

#boxes {
  height: 100vh;
  background: $background;
}

.index {
  text-align: center;
  background: $background;
  height: 93vh;
  background: url('/images/indeximage.png');
  background-size: contain;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  h2, h3 {
    font-size: 50px;
    color: black;
    text-align: center;
  }
}

.column-style {
  border: 2px dotted white;
  height: 20vh;
  padding-top: 35px;
}

h2, h3 {
  font-size: 20px;
}

h2 {
  text-decoration: underline;
}

.title{
  color: white;
}

#steps {
  padding: 0 100px 200px 100px;
}

.how-it-works-button {
  padding-top: 100px;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  letter-spacing: 4px;
  text-shadow: 5px 4px #558ABB;
}

.largerText {
  font-size: 25px;
  background-color: rgba(39, 119, 247,.2);
  box-shadow: 20px 15px 6px rgba(0,0,0,.5);
  padding: 5px;
}
