
@import url(https://fonts.googleapis.com/css?family=Bangers);
$background: #86B3D1;

div.hero.is-fullheight-with-navbar.hero-body,div{
  margin: 0, auto;
}


.hero {
  height: 100vh;
  background: #86B3D1;
  font-family: 'Bangers', cursive;
  font-size: 100px;
  background: url('/images/background2.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;

h1 {
  margin: 0 auto;
}

  p, h2 {
    font-size: 30px;
    color: white;
    margin: 0 auto;
  }

  button {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    color: #eb8019;
  }
}

html {
  height: 100vh;
  background-color: #86B3D1;
}
nav.navbar.is-dark{
  background-color: black;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

a.button.button.is-dark{
  background-color: #474853;
}

a.button.button.is-dark:hover{
  background-color: #252631;
}

hr{
  background: black;
}

#hero-overlay {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3h) );
  background-blend-mode: 'darken'
}

.card {
    border: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

  .image img {
    border-radius: 8px;
  }
}

#boxes {
  width: 400px;
  background: #86B3D1;
}

.index {
  text-align: center;
  background: $background;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  color: black;
  img {
    max-width: 256px;
  }
}

.is-shady:hover {
box-shadow: 0 20px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

h2, h3 {
  font-size: 20px;
  // color: white;
}

h2 {
  text-decoration: underline;
}

.column-style {
  border: 2px dotted white;
  height: 150px;
  padding: 20px;
  background-color: black;
}

#steps {
  padding: 0 100px 200px 100px;
}

.how-it-works-button {
  padding-top: 100px;
}

#cart {
  width: 75px;
}

.buttonNew {
  font-family: 'Bangers', cursive;
  font-size: 25px;
  color: #eb8019;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
 }

.largerText {
  font-size: 25px;
  background-color: #558ABB;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: white;
}

body {
  background: $background;
  height: 100vh;
  overflow: auto;
}

.titleh2 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  letter-spacing: 4px;
  text-shadow: 5px 4px #346da3;
  color: black;
}

.label {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    letter-spacing: 4px;
}

.carousel.carousel-slider {
  margin: 0 auto;
}

.input, .textarea {
  max-width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
