
@import url(https://fonts.googleapis.com/css?family=Bangers);

html{
  height: 100vh;
  background-color: #86B3D1;
}
nav.navbar.is-dark{
  background-color: #474853;
}

a.button.button.is-dark{
  background-color: #474853;
}

a.button.button.is-dark:hover{
  background-color: #363742;
}



img{
  max-width: 30vw;
}

hr{
  background: black;
}

p{
  color: black;
}

.hero {
  background: #86B3D1;
  font-family: 'Bangers', cursive;
  font-size: 100px;

  p {
    font-size: 35px
  }
}

nav.navbar.is-dark{
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}

.card {
    border: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

  .image img {
    border-radius: 8px;
  }
}

#boxes {
  height: 100%;
  background: #86B3D1;
}

.index {
  text-align: center;
  background: #86B3D1;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  font-size: 18px;
}

.column-style {
  border: 2px dotted white;
  height: 21vh;
  padding-top: 35px;
}

h2, h3 {
  font-size: 20px;
}

h2 {
  text-decoration: underline;
}

#steps {
  padding: 0 100px 200px 100px;
}

.how-it-works-button {
  padding-top: 100px;
}
